<div th:replace="fragments/header :: header"></div>

<h2 class="mb-4">Add Inhouse Part</h2>
<form th:action="@{/parts/inhouse}" th:object="${inhousepart}" method="POST" class="mb-5">

    <div class="mb-3">
        <label for="name" class="form-label">Part Name</label>
        <input type="text" th:field="*{name}" class="form-control" id="name" required />
    </div>

    <div class="mb-3">
        <label for="price" class="form-label">Price ($)</label>
        <input type="number" step="0.01" th:field="*{price}" class="form-control" id="price" required />
    </div>

    <div class="mb-3">
        <label for="inv" class="form-label">Inventory</label>
        <input type="number" th:field="*{inv}" class="form-control" id="inv" required />
    </div>

    <div class="mb-3">
        <label for="min_inv" class="form-label">Min Inventory</label>
        <input type="number" th:field="*{minInv}" class="form-control" id="min_inv" required />
    </div>

    <div class="mb-3">
        <label for="max_inv" class="form-label">Max Inventory</label>
        <input type="number" th:field="*{maxInv}" class="form-control" id="max_inv" required />
    </div>

    <div class="mb-3">
        <label for="part_id" class="form-label">Part ID</label>
        <input type="text" th:field="*{partId}" class="form-control" id="part_id" />
    </div>

    <button type="submit" class="btn btn-success">Save Part</button>
</form>

<div th:replace="fragments/footer :: footer"></div>
